.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
}
.pd {
  padding: 0;
}
.table > :not(caption) > * > * {
  /* padding: 1rem 1.4rem; */
  background-color: var(--mdb-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--mdb-table-accent-bg);
}
.table > :not(caption) > * > * {
  /* padding: 1rem 1.4rem; */
}
.table th,
.table td {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  padding: 0;
}

.table th {
  text-align: center;
  background-color: #f8f9fa;
  color: #495057;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Header cell styles */
.table th.header-cell {
  position: relative;
  cursor: pointer;
}

.table th.header-cell:hover {
  background-color: #e9ecef;
}

.table th.header-cell span {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

/* Pagination styles */
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.pagination-info {
  flex: 1;
}

.pagination-buttons {
  display: flex;
  align-items: center;
}

.pagination-buttons button {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #f2f4f7;
  color: #0c0909;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-buttons button:hover {
  background-color: #f9f9fa;
}

.pagination-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-pages {
  margin-left: 1rem;
}

.pagination-pages button {
  margin-right: 0.25rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #eff1f3;
  color: #080808;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-pages button.active {
  background-color: #eeeff0;
}

.pagination-pages button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-info span {
  font-size: 0.875rem;
}

.pagination-buttons button,
.pagination-pages button {
  font-size: 0.875rem;
}

/* Loading indicator */
.pagination > .loading {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #08090a;
}

.datatable-container {
  position: relative;
}

.datatable-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.btn-close {
  background-color: #ccc;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.btn-close:hover {
  background-color: #bbb;
}
