.form-control {
  display: block;
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  color: var(--bs-body-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: 0.35rem 2.25rem 0.355rem 0.7rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img),
    var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-tag-container {
  margin-bottom: 15px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-group input[type="text"] {
  flex: 1;
  height: calc(1rem + 0.5rem + 1.2px) !important;
  padding: 0.3rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  background-color: #4e7197;
  color: #fff;
  border-color: #007bff;
  border-radius: 0 0.25rem 0.25rem 0;
}
.input-group-text {
  cursor: pointer;
}
/* .input-group-text:hover {
  background-color: #526f8fc9;
  border-color: #526f8fc9;
} */

.feedback {
  position: absolute;
  bottom: -1px;
  width: 100%;
}

.invalid-feedback,
.valid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
}

.invalid-feedback {
  color: #dc3545;
}

.valid-feedback {
  color: #28a745;
}
