@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Inter:wght@300&family=Lato:wght@300&family=Merriweather:ital,wght@0,700;1,900&family=Montserrat&family=Mukta:wght@300;600&family=Quicksand:wght@300&family=Raleway:wght@300;400&family=Roboto+Slab:wght@400;600&family=Tilt+Prism&display=swap');

.parentDivEpForm{
  text-align: center;
  min-height: 90vh; 
  max-height: auto; 
  padding: 0% 1%; 
  position: relative;
}
 
.formContDiv{
  position: relative;
  width: 70%;
  min-height: 92vh; 
  max-height: auto; 
  padding: 1% 0% 0% 0%;
  margin-right: auto; 
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.formDesgn {
  width: 60%;
  height: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding-top: 1%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.formHeading {
  font-weight: 400;
  color: #4caf50;
  text-align: center;
  position: relative;
  z-index: 0;

}

.formHeading:before {
  position: absolute;
  content: '';
  width: 90%;
  left: 5%;
  top: 60%;
  background: #4caf50;
  height: 1px;
}

.formHeading i {
  font-style: normal;
  font-size: 25px;
  background: #fff;
  position: relative;
  padding: 10px;
}

:focus {
  outline: none;
}

input[type="text"] {
  font: 15px/24px 'Muli', sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.col-3 {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
}

input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.inputOne,
.workInputTwo,
.inputThree {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #9c9a9a;
}

.inputOne~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

.inputOne:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
}

.workInputTwo~.fa-search {
  position: absolute;
  right: 1% !important;
}

.workInputTwo~.focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.8s;
}

.workInputTwo:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.workInputTwo::placeholder {
  font-size: 12px;
}

.workInputTwo:focus::placeholder {
  color: #4caf50;
  transform: translateY(-10px);
  transition: 0.4s;
  left: 0;
}

.col-3:focus-within input {
  color: #4caf50;
  border-bottom: 1px solid #4caf50 !important;
  background-color: #4caf50;
  transition: all 0.4s;
}

input:active {
  color: #4caf50;
  border-bottom: 5px solid #4caf50 !important;
  transition: all 0.4s;
}

.col-3:focus-within .handle {
  color: #4caf50;
  background-color: #4caf50;
  transition: 0.4s;
}

.col-3:focus-within .circle {
  border: 2px solid #4caf50;
  transition: 0.4s;
}

.workInputTwo:focus {
  border-bottom: 1px solid #4caf50 !important;
  transition: all 0.4s;
}

.search-container {
  position: relative;
  display: inline-block;
}

#search-input {
  padding: 10px;
  border: none;
}

#search-input:focus {
  border-bottom-color: #4caf50;
}

#search-input:focus::placeholder {
  color: #4caf50;
  transform: translateY(-10px);
}

#search-input:focus~.fa-search {
  color: #4caf50;
}

.fa-search {
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: #9c9a9a;
  pointer-events: none;
}

.buttons {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  padding-top: 1%;
  display: flex;
  justify-content: space-around;
}

.search-icon-workOrd {
  position: relative;
  width: 10px;
  height: 10px;
  cursor: pointer;
  top: -3vh !important;
  left: 12vw;
}

.handle {
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #9c9a9a;
  top: 90%;
  left: 80%;
  transform: rotate(40deg);
}

.circle {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #9c9a9a;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-icon-workOrd:hover .circle {
  border: 2px solid #4caf50;
  transition: 0.4s;

}

.workInputTwo:focus~.circle .handle {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  transition: 0.4s;
}

.workInputTwo:active .circle .handle {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  transition: 0.4s;
}

.search-icon-workOrd:hover .handle {
  border: 1px solid #4caf50;
  transition: 0.4s;

}

.workInputTwo:focus~.handle {
  color: #4caf50;
  background-color: #4caf50;
  border: 2px solid #4caf50;
  transition: 0.4s;
}
.workInputTwo:focus {
  border-color: blue; 
  outline: none; 
}


.workInputTwo:focus + .search-icon-workOrd .handle{
  border: 1px solid #4caf50;
  transition: 0.4s;
}
.workInputTwo:focus + .search-icon-workOrd .circle {
  border: 2px solid #4caf50;
  transition: 0.4s;
}




.table_style {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form_label {
  width: 22%;
  text-align: left;
  font-size: 14px;
}

.form_input {
  width: 50%;
  padding: 0% 2%;
}

.form_btn {
  width: '30%';
}



.workOrdTbl {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.workOrdTH {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

.workHead .workOrdTH {
  background-color: #b4d7db;
}

.workOrdRow:hover {
  background-color: #ffa;
}

.workOrdTd,
.workOrdTH {
  position: relative;
}

.noWorkOrdTd{
  position: relative;
}

.workOrdTd:hover::after{
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.formHeading {
  font-family: 'Damion', cursive;
  font-weight: 400;
  color: #333;
  text-align: center;
  position: relative;
}
.formHeading:before {
  position: absolute;
  content: '';
  width: 80%;
  left: 9%;
  top: 60%;
  background: #333;
  height: 1px;
}
.formHeading i {
  font-style: normal;
  font-family: "Roboto";
  font-size: 20px;
  background: #fff;
  position: relative;
  padding: 10px;
}